@charset "utf-8";

*{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    font-family: 'Gothic A1', sans-serif;
}

    
a{
    text-decoration: none;
    color:#333;
}
a:hover {
    color: #00cd3c;
}
.ticket a {
    color: #666;
}
.ticket a:hover {
    color: #00cd3c;
}
.clfix a {
    color: #666;
}
.clfix a:hover {
    color:#000;
}
.gnb hr {
    border-color:#fefefe;
}

body {
    border-top:3px solid #00cd3c;
    font-family: "돋움",Dotum,"맑은 고딕","Malgun Gothic","Apple Gothic",sans-serif;
    height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	letter-spacing: 0;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	background: #fff;
}
.display_none {
    display: none;
}

.header{
    width: 1920px;
    height: 240px;
    text-align: center;
    max-width: 100%;
    border-top: 3.5px solid #00cd3c;
}
.section1{
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ccc;
}
.gnb{
    width: 1008px;
    height: 35px;
    /* background-color: aquamarine; */
    
}
.util_menu{
    width: 1008px;
    height: 35px;
    /* background-color: skyblue; */
    line-height:35px;
    float: left;
    font-weight: bold;
    padding: 0 10px;
    
}
.util_menu li a {
    color: #666;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: -1px;

}
.util_menu li {
    float:left;
}


.right_menu {
    float: right;
    font-size:8px;
    color:#fefefe;
    font-weight:thin;
}
.right_menu a {
    padding: 0 15px;
    font-size:12px;
}

.section2{
    width: 100%;
    height: 151px;
    /* background-color: burlywood; */
    border-bottom: 1.5px solid #ccc;
}
/* 이나 - 로고랩 추가 */
.logowrap{
    /* background:pink; */
    
    width:1008px;
    height:99px;
    /* background: yellow; */
    top:0;
    left:0;
}
.logo{
    float: left;
    width:142px;
    height:99px;
}
/*searchbox*/
.blind{ display:none;}
.search {
    margin-top:36px;
    margin-left: 11px;
    /* transform: translateX(-50%); */
    float:left;
    position:relative;
    background: url("../img/bg_cmn_search322.png");
    width: 322px;
    height: 40px;
}
fieldset {
    border: 0;
}
.searchBox {
    width: 256px;
    height: 23px;
    border:none;
    box-sizing: border-box; /* 상자크기 : 테두리 포함 */
    position:absolute;
    top:7px;
    left:18px;
    /* outline: none; */
    padding:0 0px;
    font-size:12px;
    color:#999;
    
}

.searchButton {
    width: 45px;
    height: 40px;
    background: url("../img/btn_search_bar.png");
    box-sizing: border-box;
    border:none;
    /* margin-bottom:-60px;
    margin-left:-55px; */
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
}
.searchButton:hover {
    width: 45px;
    height: 40px;
    background: url("../img/btn_search_bar.png") no-repeat 0 -40px;
}
.search-wrap #searchBox, .search-wrap button {
    float: left;
}

input:focus::-webkit-input-placeholder {color:transparent; }
/*searchbox end*/

/* 이나 - 실시간 랭킹 시작 */
.realtime_keyword{
    /* width: 42px;
    height: 16px; */
    width: 217px;
    height:23px;
    float: left;
    /* background-color: darkred; */
    margin-left:5px;
    margin-top:46px;
    text-align:center;
    line-height:23px;
}
.realtime_keword img{float: left;text-align:left;}

.rolling_box{
    text-align: center;
    border: 1px solid #848484;
    float: right;
    border:0;
    background-color:pink;
}

.rolling_box ul {
    width: 162px;
    height: 16px;
    overflow: hidden;
    line-height:20px;
    margin-top:3px;
}

.rolling_box ul li {
    /* width: 100%;
    height: 100%;
    transition: .5s; */
    transition: top .75s;
    text-align:center;
    color:#333;
    /* background-color: pink; */
}

.card_sliding{
    top: 0 !important;
    z-index: 100 !important;
} 

.card_sliding_after{
    top: -100% !important;
    z-index: 10 !important;
}

.rolling_box ul li p {
    line-height:16px;
    font-size:12px;
}

.before_slide {
    transform: translateY(100%);
}

.after_slide {
    transform: translateY(0);
}
/*이나 - 실시간 랭킹 끝*/

.cmn_banner{
    width: 280px;
    height: 75px;
    top:23px;
    position: relative;
    float:right;
    border: 0px solid red;
}
.cmn_banner button {
    position: absolute;
    float:left;
    top:47px;
}
.btn_left {
    position:absolute;
    border: 1px solid #ccc;
    border-radius: 10px 0px 0px 10px;
    width:20px;
    height:17px;
    font-size:8px;
    font-weight:bold;
    color:#666;
    right:18px;
    background-color:white;
}
.btn_right {
    position:absolute;
    border: 1px solid #ccc;
    border-radius: 0px 10px 10px 0px;
    width:20px;
    height:17px;
    font-size:8px;
    font-weight:bold;
    color:#666;
    right: 0;
    background-color:white;
}
.gnb_menu{
    width: 1008px;
    height: 105px;
    /* background-color: darkkhaki; */
    font-size: 1.3em;
    border-bottom: 1px solid #ccc;
}
.gnb_menu1{
    width: 729px;
    height: 50px;
    float: left;
    font-weight: bold;
    /* background-color: aquamarine; */
}
.nth1{
    width: 72px;
    /* background-color: darkseagreen; */
    float: left;
    padding: 18px 15px 18px 0px;
}
.nth2{
    width: 72px;
    /* background-color: darkseagreen; */
    float: left;
    padding: 18px 15px 18px 0px;
}
.nth2 a {
    padding-bottom: 16px;
    border-bottom: 3px solid #00cd3c;
}
.nth3{
    width: 72px;
    /* background-color: darkseagreen; */
    float: left;
    padding: 18px 15px 18px 0px;
}
.nth4{
    width: 60px;
    /* background-color: darkseagreen; */
    float: left;
    padding: 18px 15px 18px 0px;
}
.nth5{
    width: 62px;
    /* background-color: darkseagreen; */
    float: left;
    padding: 18px 15px 18px 0px;
}
.nth6{
    width: 85px;
    /* background-color: darkseagreen; */
    float: left;
    padding: 18px 15px 18px 0px;

}
.nth7{
    width: 55px;
    /* background-color: darkseagreen; */
    float: left;
    padding: 18px 15px 18px 0px;
}
.nth8{
    width: 86px;
    /* background-color: darkseagreen; */
    float: left;
    padding: 18px 15px 18px 0px;
}
.nth9{
    width: 45px;
    /* background-color: darkseagreen; */
    float: left;
    padding: 18px 0 18px 0px;
}
.sub_gnb{
    width: 71px;
    float: right;
    /* background-color: darkseagreen; */
    padding: 18px 0 18px 0;
    color: #666;
    font-weight: bold;
}
.lay_menu {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}
.lay_menu ul {
    margin-top: 7px;
}
.lay_menu li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 50px;
    font-family: "돋움", Dotum, "맑은 고딕", "Malgun Gothic", "Apple Gothic", sans-serif;
}
.lay_menu li a {
    color: #666;
}
.lay_menu li a:hover {
    color: #00cd3c;
}


.wrap{
    width: 100%;
    height: 3520px;
    /* background-color: darkslateblue; */
}
.con{
    width: 1309px;
    height: 4683px;
    text-align: center;
    /* background-color: darkcyan; */
}
.contents{
    width: 1008px;
    height: 4683px;
    padding: 0 20px;
    margin: 0 130.5px;
    /* background-color: coral; */
}
.contents1{
    width: 1008px;
    height: 4585px;
    padding: 29px 0 88px 0;
    min-height: 800px;
    /* background-color:blanchedalmond; */
}
#page_header {
    height: 40px;
    position: relative;
    margin-bottom: 8px;
}
#page_header .title {
    line-height: 40px;
    font-size: 26px;
    color: #2f2f2f;
    float: left;
    vertical-align: middle;
}
.wrap_tab {
    width: 1008px;
    position: relative;
    background-color: #fcfcfc;
    margin-bottom: 40px;
}
.tab {
    position: relative;
    width: 1008px;
    height: 48px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.tab li {
    width: 500px;
    height: 48px;
    float: left;
    line-height: 50px;
    font-size: 14px;
}
.tab li a:hover {
    color: #00b423;
    font-weight: bold;
}
/*곡 리스트 시작*/
#song_list {
    height: 100%;
}
#frm {
    height: 100%;
}
.wrap_button {
    margin-bottom: 10px;
    float: left;
}
.wrap_button button {
    float: left;
    width: 70px;
    height: 30px;
    padding: 0 9px;
    margin-left: 10px;
    line-height: 28px;
    border: 1px solid #b2b2b2;
    border-radius: 100px;
    color: #606060;
    font-size: 12px;
    background-color: #fff;
    overflow: hidden;
}
.wrap_button button:active {
    background-color: #ddd;
}
.wrap_button button img {
    width: 10px;
    height: 12px;
    margin: 7px 5px 0 0;
}
table {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    display: table;
}
.list thead {
    width: 100%;
    height: 50px;
}
.list thead td {
    height: 50px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
}
.list tbody td {
    height: 84px;
    border-bottom: 1px solid #f2f2f2;
}
.textleft {
    text-align: left;
}
.list td a:hover{
    color: #666;
    text-decoration: underline;
}
.td1{
    width: 15px;
}
.td2{
    width: 62px;
}
.td3{
    width: 60px;
}
.td4{
    width: 24px;
}
.td5{
    width: 312px;
}
.b_td5 {
    color: #333;
    font-size: 14px;
}
.b_td5 span {
    color: #969696;
    font-size: 12px;
}
.td6{
    width: 210px;
}
.b_td7{
    color: #888;
}


.section3{
    width: 100%;
    height: 204px;
    border-top: 1px solid #999;
    /* background-color: crimson; */
}
.bnav{
    width: 100%;
    height: 52px;
    border-bottom: 1px solid rgb(226, 226, 226);
    color: #ccc;
    /* background-color: aqua; */
}
.bnav a{
    color: #999;
}
.bnav a:hover{
    color: rgb(88, 88, 88)
}
.bnav ul{
    float: right;
    margin-right: 355px;
    margin-top: 17px;
    
}
.bnav ul li{
    display: inline-block;
    font-size: 1.2em;
    margin: 0 5px 0 5px;
    font-weight: bold;
    
}
.footer{
    width: 1008px;
    height: 152px;
    float: center;
    /* background-color: darkgoldenrod; */
}

.footer_ul_1 > li{
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 0 6px 0 6px;
    border-right: 1px solid rgb(226, 226, 226);
    font-size: 1.1em;
}
.footer_text2{
    font-weight: bold;
}
.footer_text3{
    font-weight: bold;
}
.footer_ul_2{
    font-size: 0.9em;
    letter-spacing : -0.5px;
    margin: 20px 0 0 0;
}
.footer_ul_2 > li{
    display: inline-block;
    padding: 0 4px 0 4px;
}
.footer_ul_3{
    font-size: 0.9em;
}
.footer_ul_3 > li{
    display: inline-block;
    padding: 0 4px 0 4px;
    letter-spacing : -0.5px;
}